.todo{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #282c34;
}
.container{
    height: 80vh;
    border: 1px solid gray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}
.todoForm{
    margin-top: 10px;
    width: 450px;
    display: flex;
    justify-content: space-around;
   
}
.todoInput{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.btn{
    margin-top: 15px;
    border: none;
    padding: 5px;
    border-radius: 20px;
    /* margin-left: 10px; */
    cursor: pointer;
}
.allTodo{
    list-style: none;
}
.singleTodo{
    border-radius: 50px;
    margin: 10px 0;
    background-color: #5dadf8;
    padding: 8px 20px;
    display: flex;
    width: 450px;
    align-items: center;
}
.todoText{
    flex: 1;
}
